In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [5]:
rating = pd.read_csv('datain/ml-latest-small/ratings.csv')
rating

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [7]:
movie = pd.read_csv('datain/ml-latest-small/movies.csv')

In [8]:
rating.shape

(100836, 4)

In [10]:
from surprise import SVD
from surprise import Dataset
from surprise.model_selection import cross_validate
from surprise import Reader, Dataset, SVD, evaluate

In [12]:
# Load the movielens-100k dataset (download it if needed).
data = Dataset.load_builtin('ml-100k')

# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9364  0.9338  0.9381  0.9366  0.9341  0.9358  0.0016
MAE (testset)     0.7371  0.7347  0.7372  0.7405  0.7375  0.7374  0.0018
Fit time          7.47    7.38    7.21    7.62    7.08    7.35    0.19
Test time         0.40    0.40    0.50    0.33    0.34    0.39    0.06

{'test_rmse': array([0.93640012, 0.93383077, 0.93806963, 0.93660745, 0.93413888]),
 'test_mae': array([0.73706203, 0.73469807, 0.73721798, 0.74047406, 0.73751165]),
 'fit_time': (7.465846061706543,
  7.379706144332886,
  7.21324896812439,
  7.618875980377197,
  7.08122992515564),
 'test_time': (0.396486759185791,
  0.3978581428527832,
  0.502100944519043,
  0.3250000476837158,
  0.33622312545776367)}

In [13]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

/Users/alexander/.virtualenvs/ds-2019-03/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/alexander/.virtualenvs/ds-2019-03/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9375
MAE:  0.7408
------------
Fold 2
RMSE: 0.9294
MAE:  0.7325
------------
Fold 3
RMSE: 0.9357
MAE:  0.7370
------------
Fold 4
RMSE: 0.9421
MAE:  0.7433
------------
Fold 5
RMSE: 0.9322
MAE:  0.7318
------------
------------
Mean RMSE: 0.9354
Mean MAE : 0.7371
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.937513012997473,
                             0.929387938558409,
                             0.9356627107265606,
                             0.9421204995758232,
                             0.9322079750753983],
                            'mae': [0.7408093773672993,
                             0.732538480988814,
                             0.736995771254262,
                             0.743333407296546,
                             0.7318093040166763]})

In [14]:
trainset = data.build_full_trainset()
svd.train(trainset)

/Users/alexander/.virtualenvs/ds-2019-03/lib/python3.7/site-packages/surprise/prediction_algorithms/algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

In [15]:
svd.predict(1, 302, 5)

Prediction(uid=1, iid=302, r_ui=5, est=3.52986, details={'was_impossible': False})